body{
  background-color: #5CDB95;
  text-align: center;
  display: grid;
  justify-content: center;
  color: #05386B;
  font-family: sans-serif;
}
form input{
  height: 50px;
  background-color: #EDF5E1;
  
  border: 1px solid #05386B;

}
form button{
  border: 1px solid white;
  height: 50px;
  width: 110px;
  background-color: #379683;
  

  
}

li{
  border: 1px solid wheat;
  /* list-style: none; */
  position: relative;
}
select{
  height: 50px;
  background-color: blanchedalmond;
}
ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid #05386B;
  margin: 1px 0px 1px 0px ;
}
#deletebutton{
  border: 1px solid white;
  height: 50px;
  width: 110px;
  background-color: #c73f00;
}
ul{
  margin-right: 25px;
}
.mycheckbox{
  height: 15px;
  margin-top: 20px;
}
#checkboxdiv{
  /* border: 1px solid black; */
  position: absolute;
  left: 10px;
}
li p{
  border: 1px solid black;
 text-align: center;
  padding: 10px;
  
}
#cat{
  position: absolute;
  right: 30px;
}
#date{
  position: absolute;
  right: 40%;
}
#desc{
  /* position: absolute; */
  margin-right: 300px;
}

li{
  
}

.mycheckbox:checked + li p{
  text-decoration: line-through;

}